In [1]:
import pandas as pd
from DriverClass import DriverNoticias

In [4]:
driver = DriverNoticias()
anos: list[str] = ["2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014"]
noticias_anos: list[dict[str, float]] = [driver.access_ibge_noticias(ano) for ano in anos]
noticias = pd.DataFrame(noticias_anos, index=list(range(8)))
noticias

,Brasil,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,Maranhão,Piauí,...,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal,Rondônia,Pará,Brasil
0,1367.00,1023.0,888.00,800.00,1046.00,847.0,855.00,1028.0,635.00,837.00,...,1541.00,1718.00,1787.00,1471.00,1362.00,1276.00,2513.00,NaN,NaN,NaN
1,1380.00,1169.0,917.00,852.00,983.00,883.0,893.00,1060.0,676.00,859.00,...,1508.00,1632.00,1759.00,1488.00,1401.00,1258.00,2475.00,NaN,NaN,NaN
2,1438.67,NaN,889.95,842.08,1043.94,NaN,879.67,1055.6,635.59,826.81,...,1620.88,1769.45,1842.98,1514.31,1402.87,1306.31,2685.76,1136.48,806.76,NaN
3,1373.00,NaN,909.00,791.00,1204.00,NaN,857.00,1045.0,605.00,817.00,...,1607.00,1660.00,1705.00,1439.00,1386.00,1323.00,2460.00,1113.00,863.00,NaN
4,1268.00,NaN,769.00,850.00,1006.00,NaN,936.00,937.0,597.00,750.00,...,1472.00,1597.00,1635.00,1291.00,1247.00,1277.00,2548.00,957.00,715.00,NaN
5,NaN,NaN,761.00,739.00,1068.00,NaN,881.00,863.0,575.00,747.00,...,1398.00,1458.00,1554.00,1283.00,1139.00,1140.00,2351.00,901.00,708.00,1226.0
6,NaN,NaN,752.00,753.00,1008.00,NaN,840.00,816.0,509.00,728.00,...,1241.00,1368.00,1434.00,1044.00,1053.00,1078.00,2254.00,823.00,671.00,1113.0
7,1052.00,NaN,670.00,739.00,871.00,NaN,753.00,765.0,461.00,659.00,...,1210.00,1245.00,1318.00,1053.00,1032.00,1031.00,2055.00,762.00,631.00,NaN